<h1>Lista de Productos</h1>
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-2 g-3">
  <div class="col" *ngFor="let item of publicacionProductosDTO">

    <table class="table">
      <thead>
        <tr>

          <th class="card-text">{{item.titulo}}</th>
          <th class="card-text">{{item.producto.descripcion}}</th>
          <th class="card-text">${{item.precio}}</th>
          <th class="card-text">{{item.cantidad}}</th>
          <button class="btn btn-success" (click)="cambiarEstado(item.idPublicacion,'ACTIVO')"><i
              class="fas fa-check"></i>Aprobar</button>
          <button class="btn btn-danger" (click)="cambiarEstado(item.idPublicacion,'DENEGADA')"><i
              class="fas fa-check"></i>Denegar</button>

        </tr>

      </thead>
      <tbody>

    </table>
  </div>
</div>