<p>aprobacionproductos works!</p><div class="container">
    <h1>Lista de Productos</h1>
    <table class="table">
      <thead>
        <tr>
          <th>Producto</th>
          <th>Cantidad</th>
          <th>Descripción</th>
          <th>Precio</th>
          <th>Permitir Publicación</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Producto x</td>
          <td>10</td>
          <td>Descripción del Producto x</td>
          <td>$0.0</td>
          <td>
            <button class="btn btn-success"><i class="fas fa-check"></i>Permitir</button>
            <button class="btn btn-danger"><i class="fas fa-times"></i></button>
          </td>
        </tr>
        <tr>
          <td>Producto x1</td>
          <td>5</td>
          <td>Descripción del Producto x1</td>
          <td>$0.0</td>
          <td>
            <button class="btn btn-success"><i class="fas fa-check"></i>Permitir</button>
            <button class="btn btn-danger"><i class="fas fa-times"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>